@model IEnumerable<OMM.App.Models.ViewModels.EmployeeProfileAssetsViewModel>

<table id="myDataTable" class="display table-sm table table-striped table-light table-hover table-bordered" style="width:100%">
    <thead class="bg-warning">
        <tr>
            <th scope="col">Inv. number</th>
            <th scope="col">Type</th>
            <th scope="col">Make</th>
            <th scope="col">Model</th>
            <th scope="col">Ref. number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.InventoryNumber</td>
                <td>@item.AssetTypeName</td>
                <td>@item.Make</td>
                <td>@item.Model</td>
                <td>@item.ReferenceNumber</td>
            </tr>
        }
    </tbody>
</table>



