@model OMM.App.Models.InputModels.AssignmentCreateInputModel

@{
    ViewData["Title"] = "Create Assignment";

    var executorId = ViewData["ExecutorId"];
    var assignorId = ViewData["AssignorId"];
    var assignorName = ViewData["AssignorName"];
}

<h4 class="mb-3 text-center">Create Assignment</h4>
<hr class="hr-oom" style="width:300px;" />
<form asp-controller="Assingments" asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            <label class="sr-only" for="Assignor">Assignor</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-warning text-secondary"><strong>Assignor</strong></div>
                </div>
                <input type="text" class="form-control" value="@assignorName" disabled>
                <input type="hidden" asp-for="AssignorId" value="@assignorId">
            </div>
        </div>
        <div class="form-group col-md-6 mb-0">
            <label class="sr-only" asp-for="EmployeeId"></label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-warning text-secondary"><strong>Executor</strong></div>
                </div>
                <vc:employees-department-list employee-id="@executorId"></vc:employees-department-list>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col mb-0">
            <label class="sr-only" asp-for="AssistantsIds">Assistants</label>
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-warning text-secondary"><strong>Assistants</strong></div>
                </div>
                <vc:assistants-assignment assistants-ids="@(new List<string>())"></vc:assistants-assignment>
            </div>
            <span asp-validation-for="AssistantsIds" class="text-danger"></span>
        </div>
    </div>
    <hr class="hr-oom" />
    <div class="form-row">
        <div class="form-group col-md-2 mb-0">
            <div>
                <label asp-for="StatusId"></label>
            </div>
            <vc:statuses-list status-id="0"></vc:statuses-list>
            <div>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group form-check col-md-2 mb-0 text-center">
            <label class="form-check-label" asp-for="IsProjectRelated"></label>
            <div class="custom-control custom-switch pt-3 d-flex justify-content-center">
                <input type="checkbox" class="custom-control-input" asp-for="IsProjectRelated" onclick="myProjects()">
                <label class="custom-control-label" asp-for="IsProjectRelated">No / Yes</label>
            </div>
        </div>
        <div class="form-group col-md-8 mb-0">
            <label asp-for="ProjectId"></label>
            <fieldset id="toggle-checkbox" disabled>
                <div class="input-group mb-1">
                    <vc:projects-list project-id=""></vc:projects-list>
                </div>
            </fieldset>
            <span asp-validation-for="ProjectId" class="text-danger"></span>
        </div>
    </div>
    <hr class="hr-oom" />
    <div class="form-row">
        <div class="form-group col mb-0">
            <label asp-for="Progress">Assignment progress: <span class="badge badge-info"><output name="progressOutput" id="progressOutput">0</output>%</span></label>
            <input type="range" class="custom-range" asp-for="Progress" value="0" min="0" max="100" oninput="progressOutput.value = Progress.value">
        </div>
    </div>
    <hr class="hr-oom" />
    <div class="form-row">
        <div class="form-group col-md-3 mb-0">
            <label asp-for="Type"></label>
            <input type="text" class="form-control" asp-for="Type">
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4 flatpickrcontainer mb-0">
            <label asp-for="StartingDate"></label>
            <div class="input-group">
                <input type="text" class="form-control" asp-for="StartingDate" data-input>
                <div class="input-group-prepend">
                    <div class="input-group-text bg-warning"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            <span asp-validation-for="StartingDate" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4 flatpickrcontainer mb-0">
            <label asp-for="Deadline"></label>
            <div class="input-group">
                <input type="text" class="form-control" asp-for="Deadline" data-input>
                <div class="input-group-prepend">
                    <div class="input-group-text bg-warning"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
        <div class="form-group col-md-1 mb-0">
            <label asp-for="Priority"></label>
            <select class="form-control" asp-for="Priority">
                <option selected disabled>0</option>
                @for (int i = 1; i <= 10; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
            <span asp-validation-for="Priority" class="text-danger"></span>
        </div>
    </div>
    <hr class="hr-oom" />
    <div class="form-group">
        <label asp-for="Name">Title</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Title of your assignment">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="mytextarea">Description</label>
        <textarea id="mytextarea" asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <hr class="hr-oom w-25" />
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-warning">Create</button>
    </div>
    <hr class="hr-oom w-25" />
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="~/js/run-tinymce.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr.l10ns.default.firstDayOfWeek = 1; // Monday default is sunday

        document.getElementsByClassName("flatpickrcontainer").flatpickr({
            wrap: true,
            weekNumbers: true,
            dateFormat: "d-m-Y"
        });
    </script>
    <script src="~/js/projectRelated.js"></script>
}
