@model IList<OMM.App.Models.ViewModels.DepartmentEmployeesViewModel>

<div class="d-flex justify-content-end mb-3">
    <a class="btn btn-warning text-dark" asp-controller="Assignments" asp-action="Create" role="button"><i class="fas fa-plus-square pr-2"></i>Create assignment</a>
</div>

@for (int i = 0; i < Model.Count(); i++)
{
    <div>
        <button id="empl-collapse" class="btn btn-primary btn-block py-0 mb-2" type="button" data-toggle="collapse" data-target=".multi-collapse-@(i + 1)" aria-expanded="false" aria-controls="multiCollapse-@(i + 1)">
            @if (Model[i].Name == "HR")
            {
                <span>Human Resources</span>
            }
            else
            {
                <span>@Model[i].Name</span>
            }
        </button>
        @if (Model[i].Employees.Count >= 4)
        {
            @Html.Raw(@"<div class=""row mx-1 mb-2 d-flex justify-content-between empl-row-collapse"">")
        }
        else
        {
            @Html.Raw(@"<div class=""row mx-1 mb-2 d-flex justify-content-start empl-row-collapse"">")
        }
        @foreach (var empl in Model[i].Employees)
        {
            <div class="col-auto mb-2 px-2 d-flex justify-content-center">
                <div class="collapse show multi-collapse-@(i + 1)" id="multiCollapse-@(i + 1)">
                    <div class="card pt-3" style="width: 20rem;">
                        <img src="@empl.ProfilePicture" class="card-img-top rounded-lg img-thumbnail mx-auto d-block" alt="avatar">
                        <div class="card-body py-3">
                            <h5 class="card-title text-center font-weight-bolder">@empl.FullName</h5>
                            <div class="card-text text-center font-italic">@empl.Position</div>
                            <div class="card-text text-center font-italic mb-2">@empl.DepartmentName</div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-muted"><i class="fas fa-key pr-2" title="Access level"></i>@empl.AccessLevel</li>
                                <li class="list-group-item text-muted"><i class="fas fa-tasks pr-2" title="Assignments"></i>In-progress as exec.: <span class="badge badge-info">@empl.InProgressExecuterAssignments</span></li>
                                <li class="list-group-item text-muted"><i class="fas fa-tasks pr-2" title="Assignments"></i>In-progress as assist.: <span class="badge badge-info">@empl.InProgressAssistantAssignments</span></li>
                                <li class="list-group-item text-muted"><i class="fas fa-envelope pr-2" title="Email"></i><a href="mailto:@(empl.Email)" class="text-muted">@empl.Email</a></li>
                                <li class="list-group-item text-muted"><i class="fas fa-phone-square-alt pr-2" title="Phone"></i>@empl.PhoneNumber</li>
                            </ul>
                            <div class="card-body pb-0 pt-3 d-flex justify-content-center">
                                <a class="btn btn-outline-warning" asp-controller="Assignments" asp-action="Create" asp-route-executorId="@empl.Id" role="button">Create assignment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @Html.Raw("</div>")
}
