@model IEnumerable<OMM.App.Areas.Management.Models.ViewModels.AssetEmployeeViewModel>


    <div class="collapse" id="collapseReleasedItems">
        <table id="myDataTableReleasedItems" class="display table-sm table table-striped table-light table-hover table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">Inv. number</th>
                    <th scope="col">Type</th>
                    <th scope="col">Make</th>
                    <th scope="col">Model</th>
                    <th scope="col">Ref. number</th>
                    <th scope="col">Aquired On</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.InventoryNumber</td>
                        <td>@item.AssetTypeName</td>
                        <td>@item.Make</td>
                        <td>@item.Model</td>
                        <td>@item.ReferenceNumber</td>
                        <td>@item.DateOfAquire</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
