@model IEnumerable<OMM.App.Areas.Management.Models.ViewModels.ProjectsAllCompletedViewModel>

<div id="collapseCompletedProjects" class="collapse">
    <table id="myCompletedProjects" class="display table table-sm table-hover" style="width: 100%">
        <thead class="bg-dark text-white">
            <tr>
                <th scope="col" style="width: 20px" title="Priority">Pr.</th>
                <th scope="col" style="width: 180px">Client</th>
                <th scope="col" style="width: 220px">Name</th>
                <th scope="col" style="width: 60px" title="Participants Count">n.Part.</th>
                <th scope="col" style="width: 60px" title="Assignments Count">n.Assignm.</th>
                <th scope="col" style="width: 90px">Status</th>
                <th scope="col" style="width: 90px">End Date</th>
                <th scope="col" style="width: 90px">Created On</th>
                <th scope="col" style="width: 90px">Deadline</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model)
            {
            <tr>
                <td class="align-middle py-1"><span class="badge badge-info px-2 py-1">@project.Priority</span></td>
                <td class="align-middle" title="@project.Client">@project.Client</td>
                <td class="align-middle" title="@project.Name">
                    <a asp-controller="Projects" asp-action="Details" asp-route-id="@project.Id" class="text-dark" style="text-decoration: underline;">
                        @project.Name
                    </a>
                </td>
                <td class="align-middle">@project.ParticipantsCount</td>
                <td class="align-middle">@project.AssignmentsCount</td>
                <td class="align-middle">
                    <span class="badge badge-secondary">@project.StatusName</span>
                </td>
                <td class="align-middle" title="@project.EndDate">@project.EndDate</td>
                <td class="align-middle" title="@project.CreatedOn">@project.CreatedOn</td>
                <td class="align-middle" title="@project.Deadline">@project.Deadline</td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Pr.</th>
                <th>Client</th>
                <th>Name</th>
                <th>n.Part.</th>
                <th>n.Assignm.</th>
                <th>Status</th>
                <th>End Date</th>
                <th>Created On</th>
                <th>Deadline</th>
            </tr>
        </tfoot>
    </table>
</div>

