@model OMM.App.Infrastructure.ViewComponents.Models.Employees.EmployeeSideBarViewComponentViewModel

@using Microsoft.AspNetCore.Identity
@using OMM.Domain
@using OMM.App.Common

@inject UserManager<Employee> UserManager


<aside id="sidebar" class="col-12 col-md-auto p-0 ">
    <nav class="navbar navbar-expand navbar-dark flex-md-column flex-row  p-0">
        <div class="collapse navbar-collapse w-100">
            <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                <li class="sidenav-header d-flex align-items-start justify-content-center w-100 ">
                    <ul class="sidenav-header-inner text-center">
                        <li>
                            <a asp-controller="Employees" asp-action="Profile" class="profile-picture">
                                <img src="@Model.ProfilePicture" alt="avatar" class="rounded-circle">
                            </a>
                            <h5 class="d-none d-md-block">@Model.EmployeeName</h5>
                            <span class="d-none d-md-block">@Model.Position</span>
                        </li>
                    </ul>
                </li>
                @if (this.User.IsInRole(Constants.ADMIN_ROLE) || this.User.IsInRole(Constants.MANAGEMENT_ROLE) || this.User.IsInRole(Constants.HR_ROLE))
                {
                    <li class="nav-item">
                        <a class="nav-link pl-3 dropdown-toggle" href="#projectsSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-project-diagram mr-2"></i> <span class="d-none d-sm-inline">Projects</span></a>
                        <ul class="collapse list-unstyled" id="projectsSubmenu">
                            @if (this.User.IsInRole(Constants.ADMIN_ROLE) || this.User.IsInRole(Constants.MANAGEMENT_ROLE))
                            {
                                <li>
                                    <a class="pl-5" asp-area="Management" asp-controller="Projects" asp-action="All">All</a>
                                </li>
                                <li>
                                    <a class="pl-5" asp-area="Management" asp-controller="Projects" asp-action="Create">Create</a>
                                </li>
                            }
                            <li>
                                <a class="pl-5" asp-controller="Projects" asp-action="MyProjects">My Projects <span class="badge badge-info">@Model.MyProjects</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-3 dropdown-toggle" href="#assignmentsSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-tasks mr-2"></i> <span class="d-none d-sm-inline">Assignments</span></a>
                        <ul class="collapse list-unstyled" id="assignmentsSubmenu">
                            @if (this.User.IsInRole(Constants.ADMIN_ROLE) || this.User.IsInRole(Constants.MANAGEMENT_ROLE))
                            {
                                <li>
                                    <a class="pl-5" asp-area="Management" asp-controller="Assignments" asp-action="All">All</a>
                                </li>
                            }
                            <li>
                                <a class="pl-5" asp-controller="Assignments" asp-action="Create">Create</a>
                            </li>
                            <li>
                                <a class="pl-5" asp-controller="Assignments" asp-action="MyAssignments">My Assignments <span class="badge badge-info">@Model.MyAssignments</span></a>
                            </li>
                            <li>
                                <a class="pl-5" asp-controller="Assignments" asp-action="FromMe">From Me <span class="badge badge-info">@Model.AssignmentsFromMe</span></a>
                            </li>
                            <li>
                                <a class="pl-5" asp-controller="Assignments" asp-action="ForMe">For Me <span class="badge badge-info">@Model.AssignmentsForMe</span></a>
                            </li>
                            <li>
                                <a class="pl-5" asp-controller="Assignments" asp-action="AsAssistant">As Assistant <span class="badge badge-info">@Model.AssignmentsAsAssistant</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-3 dropdown-toggle" href="#employeesSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-users mr-2"></i> <span class="d-none d-sm-inline">Employees</span></a>
                        <ul class="collapse list-unstyled" id="employeesSubmenu">
                            <li>
                                <a class="pl-5" asp-area="Management" asp-controller="Employees" asp-action="All">All</a>
                            </li>
                            <li>
                                <a class="pl-5" asp-area="Management" asp-controller="Employees" asp-action="Register">Register</a>
                            </li>
                            <li>
                                <a class="pl-5" asp-controller="Employees" asp-action="AllColleagues">Colleagues</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-3 dropdown-toggle" href="#assetsSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-warehouse mr-2"></i> <span class="d-none d-sm-inline">Assets</span></a>
                        <ul class="collapse list-unstyled" id="assetsSubmenu">
                            <li>
                                <a class="pl-5" asp-area="Management" asp-controller="Assets" asp-action="All">All</a>
                            </li>
                            <li>
                                <a class="pl-5" asp-area="Management" asp-controller="Assets" asp-action="Create">Create</a>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link pl-3 dropdown-toggle" href="#projectsSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-project-diagram mr-2"></i> <span class="d-none d-sm-inline">Projects</span></a>
                        <ul class="collapse list-unstyled" id="projectsSubmenu">
                            <li>
                                <a class="pl-5" asp-controller="Projects" asp-action="MyProjects">My Projects <span class="badge badge-info">@Model.MyProjects</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-3 dropdown-toggle" href="#assignmentsSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-tasks mr-2"></i> <span class="d-none d-sm-inline">Assignments</span></a>
                        <ul class="collapse list-unstyled" id="assignmentsSubmenu">
                            <li>
                                <a class="pl-5" asp-controller="Assignments" asp-action="MyAssignments">My Assignments <span class="badge badge-info">@Model.MyAssignments</span></a>
                            </li>
                            <li>
                                <a class="pl-5" asp-controller="Assignments" asp-action="FromMe">From Me <span class="badge badge-info">@Model.AssignmentsFromMe</span></a>
                            </li>
                            <li>
                                <a class="pl-5" asp-controller="Assignments" asp-action="ForMe">For Me <span class="badge badge-info">@Model.AssignmentsForMe</span></a>
                            </li>
                            <li>
                                <a class="pl-5" asp-controller="Assignments" asp-action="AsAssistant">As Assistant <span class="badge badge-info">@Model.AssignmentsAsAssistant</span></a>
                            </li>
                            <li>
                                <a class="pl-5" asp-controller="Assignments" asp-action="Create">Create</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-3 dropdown-toggle" href="#employeesSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-users mr-2"></i> <span class="d-none d-sm-inline">Employees</span></a>
                        <ul class="collapse list-unstyled" id="employeesSubmenu">
                            <li>
                                <a class="pl-5" asp-controller="Employees" asp-action="All">Colleagues</a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </nav>
</aside>
